header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mat-sys-on-surface);
  padding: 1rem 12rem;
}

a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--mat-sys-on-primary);
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  --mdc-text-button-label-text-color: var(--mat-sys-on-primary);
}

.botao-login {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.botao-login span {
  font-size: 1rem;
  line-height: 1;
  vertical-align: middle;
}

@media (max-width: 950px) {
  header {
    flex-wrap: wrap;
    padding: 1rem 1rem;
  }
  header a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header a img {
    display: block;
    margin: 0 auto;
    padding: 0 0 1rem;
  }
  nav {
    width: 100%;
    justify-content: flex-end;
  }
}
