header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--mat-sys-on-surface);
  padding: 1rem 12rem;
}

a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--mat-sys-on-primary);
}

.botoes {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  --mdc-text-button-label-text-color: var(--mat-sys-on-primary);
}

.botao-login {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.botao-login span {
  font-size: 1rem;
  line-height: 1;
  vertical-align: middle;
}
