section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2.25rem;
  background-color: var(--mat-sys-surface-container);
  border-radius: 1rem;
  margin: 2rem 10rem;
}

h1 {
  margin-top: 1rem;
}

.botoes-ida-volta {
  margin-top: 0.75rem;
}

.formulario {
  .origem-destino-buscar {
    display: flex;
    align-items: stretch;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;
  }

  .campo {
    width: 280px;
  }

  .botao-alternar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mat-sys-secondary);
    width: 32px;
  }

  button[type="submit"] {
    width: 5rem;
  }

  .mat-mdc-form-field {
    height: 56px;
  }
}

@media (max-width: 1008px) {
  section {
    margin: 2rem 2rem;
    padding: 1rem 2rem;
  }

  h1 {
    text-align: center;
  }

  .botoes-ida-volta {
    align-self: center;
  }

  .formulario {
    .origem-destino-buscar {
      flex-direction: column;
      align-items: center;
    }

    .campo,
    button[type="submit"] {
      width: 95%;
    }

    button[type="submit"] {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
