:host {
  --altura-elementos-formulario: 56px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2.25rem;
  background-color: var(--mat-sys-surface-container);
  border-radius: 1rem;
  margin: 2rem 10rem;
}

h1 {
  margin-top: 1rem;
}

.botoes-ida-volta {
  margin-top: 0.75rem;
}

.formulario {
  .origem-destino-buscar {
    display: flex;
    align-items: stretch;
    gap: 0.2rem;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;
  }

  .campo {
    width: 35%;
    max-width: 280px;
    min-width: 150px;
  }

  .botao-alternar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--altura-elementos-formulario);
    color: var(--mat-sys-secondary);

    .mat-icon {
      margin: 0;
    }
  }

  button[type="submit"] {
    width: 5rem;
    margin-left: 1rem;
  }

  .mat-mdc-form-field {
    height: var(--altura-elementos-formulario);
  }
}

@media (max-width: 950px) {
  section {
    margin: 2rem 2rem;
    padding: 1rem 2rem;
  }

  h1 {
    text-align: center;
  }

  .botoes-ida-volta {
    align-self: center;
  }

  .formulario {
    .origem-destino-buscar {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }

    .campo,
    button[type="submit"] {
      width: 95%;
      max-width: none;
    }

    button[type="submit"] {
      margin-left: 0;
      margin-top: 1.25rem;
      margin-bottom: 0.5rem;
    }
  }
}
